ul.destination-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
}

ul.destination-list li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 50%;
    height: 230px;
    overflow: hidden;
    background: #000;
}
ul.destination-list.column3 li {
    max-width: 33.33%;
}
ul.destination-list.column4 li {
    max-width: 25%;
}
ul.destination-list li a {
    display: block;
    height: inherit;
}
ul.destination-list a:hover {
    opacity: 1;
}
ul.destination-list li .round-des {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
}
ul.destination-list .div-img {
    position: relative;
    height: 100%;
    background: #000;
}
ul.destination-list li:hover img {
    opacity: 0.5;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
ul.destination-list li img {
    opacity: 0.7;
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul.destination-list li .wrap-text-destination {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

@media screen and (max-width:479px){
    ul.destination-list{flex-direction:column}
    ul.destination-list li{max-width: 100% !important;}
}