#sfr-portfolio-filternav{text-align: center;}
#sfr-portfolio-filternav,
.sfr-portfolio-container > div {
    margin-bottom: 30px;
}
#sfr-portfolio-filternav ul li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
#sfr-portfolio-filternav ul li a {
    text-decoration: none;
}
#sfr-portfolio-filternav ul li.selected span {
    font-weight: 700;
}

.sfr-portfolio-container{display: flex; flex-direction: row; flex-wrap: wrap;}
.portfolio-title {
    font-size: 18px;
}
.sfr-portfolio-container figure {
    position: relative;
}
.sfr-portfolio-container .element.col-1{
    width: 100%;
}
.sfr-portfolio-container .element,
.sfr-portfolio-container .element.col-2{
    width: 50%;
    padding: 0 15px;
}

.sfr-portfolio-container .element.col-3{
    width: 33.33333333%;
}
.sfr-portfolio-container .element.col-4{
    width: 25%;
}
.portfolio-button-container {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    top: 0;
    text-align: center;
    color: #fff;
    background:transparent;
    z-index: 3;
}
.portfolio-button {
    width: 100%;
    height: 100%;
    display: table;
}
.portfolio-button-icon {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.sfr-portfolio-container figure:hover .portfolio-button-container {
    opacity: 1;
    visibility: visible;
}
.portfolio-button a {
    font-size: 20px;
    background: #ff367e !important;
    font-weight: 700;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0 !important;
    white-space: nowrap;
    color: #fff;
    margin: 0 5px 0 0 !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px !important;
}
.portfolio-button a:hover {
    color: #fff;
    opacity: 1;
    border: 0 !important;
}