.sfr-product-wrapper .box-ex-promo {
    overflow: hidden;
    margin: 15px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.sfr-product-wrapper .box-ex-promo.box-purple {
    background-color: #7570fc;
    background: -webkit-linear-gradient(to left, #4776e6, #8e54e9);
    background: linear-gradient(to left, #4776e6, #8e54e9);
}
.sfr-product-wrapper .box-ex-promo .top-section {
    background-color: #fff;
    position: relative;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.sfr-product-wrapper .box-ex-promo.box-purple .ex-one,
.sfr-product-wrapper .box-ex-promo.box-purple h4,
.sfr-product-wrapper .box-ex-promo.box-purple p {
    color: #7570fc;
}
@media (min-width: 768px) {
    .sfr-product-wrapper .box-ex-promo .top-section:hover .bottom-section {
        height: 100%;
        background-size: cover;
    }
    .sfr-product-wrapper .box-ex-promo .top-section:hover .bottom-section .bar-section,
    .sfr-product-wrapper .box-ex-promo .top-section:hover .bottom-section span {
        opacity: 0;
    }
    .sfr-product-wrapper .box-ex-promo .top-section:hover .bottom-section .bottom-wrap {
        display: block;
    }
}
.sfr-product-wrapper .box-ex-promo .top-section .bottom-section {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
    text-align: center;
}
.sfr-product-wrapper .box-ex-promo.box-purple .bottom-section {
    background-color: #7570fc;
    background: -webkit-linear-gradient(to left, #4776e6, #8e54e9);
    background: linear-gradient(to left, #4776e6, #8e54e9);
}
.sfr-product-wrapper .box-ex-promo .top-section .bottom-section .bottom-wrap {
    width: 100%;
    height: 100%;
    display: none;
}
.sfr-product-wrapper .box-ex-promo .top-section .bottom-section .bottom-table {
    display: table;
    width: 100%;
    height: 100%;
}
.sfr-product-wrapper .box-ex-promo .top-section .bottom-section .bottom-table .bottom-cell {
    display: table-cell;
    vertical-align: middle;
}
.sfr-product-wrapper .box-ex-promo .top-section .bottom-section .bottom-table .button-default {
    width: 100%;
    padding: 20px 0;
    font-weight: 600;
    text-transform: uppercase;
}
.sfr-product-wrapper .box-ex-promo .top-section .bottom-section .bar-section {
    max-width: 50%;
    height: 5px;
    margin: 20px auto 0;
}
.sfr-product-wrapper .box-ex-promo .top-section .ex-one {
    padding: 20px;
    height: 300px;
}
.sfr-product-wrapper .box-ex-promo .top-section .ex-one .left-ex {
    width: 50%;
    text-align: left;
}
.sfr-product-wrapper .box-ex-promo .top-section .ex-one .left-ex h4 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    text-align: left;
}
.sfr-product-wrapper .box-ex-promo .top-section .ex-one .left-ex p {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
.sfr-product-wrapper .bottom-section span {
    color: #fff;
    text-align: center;
}
.sfr-product-wrapper .box-ex-promo.box-purple .bar-section {
    background-color: #453efb;
}
.sfr-product-wrapper .box-ex-promo.box-blue {
    background-color: #07d0ee;
    background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
    background: linear-gradient(to left, #00d2ff, #3a7bd5);
}
.sfr-product-wrapper .box-ex-promo.box-blue .ex-one,
.sfr-product-wrapper .box-ex-promo.box-blue h4,
.sfr-product-wrapper .box-ex-promo.box-blue p {
    color: #07d0ee;
}
.sfr-product-wrapper .box-ex-promo.box-blue .bottom-section {
    background-color: #07d0ee;
    background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
    background: linear-gradient(to left, #00d2ff, #3a7bd5);
}
.sfr-product-wrapper .box-ex-promo.box-blue .bar-section {
    background-color: #07d0ee;
}
.sfr-product-wrapper .box-ex-promo.box-green {
    background-color: #04ad23;
    background: -webkit-linear-gradient(to left, #56ab2f, #a8e063);
    background: linear-gradient(to left, #56ab2f, #a8e063);
}
.sfr-product-wrapper .box-ex-promo.box-green .ex-one,
.sfr-product-wrapper .box-ex-promo.box-green h4,
.sfr-product-wrapper .box-ex-promo.box-green p {
    color: #04ad23;
}
.sfr-product-wrapper .box-ex-promo.box-green .bottom-section {
    background-color: #04ad23;
    background: -webkit-linear-gradient(to left, #56ab2f, #a8e063);
    background: linear-gradient(to left, #56ab2f, #a8e063);
}
.sfr-product-wrapper .box-ex-promo.box-green .bar-section {
    background-color: #04ad23;
}
.sfr-product-wrapper .box-ex-promo.box-orange {
    background-color: #ff9c00;
    background: -webkit-linear-gradient(to left, #ff512f, #f09819);
    background: linear-gradient(to left, #ff512f, #f09819);
}
.sfr-product-wrapper .box-ex-promo.box-orange .ex-one,
.sfr-product-wrapper .box-ex-promo.box-orange h4,
.sfr-product-wrapper .box-ex-promo.box-orange p {
    color: #ff9c00;
}
.sfr-product-wrapper .box-ex-promo.box-orange .bottom-section {
    background-color: #ff9c00;
    background: -webkit-linear-gradient(to left, #ff512f, #f09819);
    background: linear-gradient(to left, #ff512f, #f09819);
}
.sfr-product-wrapper .box-ex-promo.box-orange .bar-section {
    background-color: #ff9c00;
}
.sfr-product-wrapper .box-ex-promo.box-pink {
    background-color: #ff508e;
    background: -webkit-linear-gradient(to left, #f857a6, #ff5858);
    background: linear-gradient(to left, #f857a6, #ff5858);
}
.sfr-product-wrapper .box-ex-promo.box-pink .ex-one,
.sfr-product-wrapper .box-ex-promo.box-pink h4,
.sfr-product-wrapper .box-ex-promo.box-pink p {
    color: #ff508e;
}
.sfr-product-wrapper .box-ex-promo.box-pink .bottom-section {
    background-color: #ff508e;
    background: -webkit-linear-gradient(to left, #f857a6, #ff5858);
    background: linear-gradient(to left, #f857a6, #ff5858);
}
.sfr-product-wrapper .box-ex-promo.box-pink .bar-section {
    background-color: #ff1d6d;
}
.sfr-product-swiper{padding-bottom: 50px;}
.sfr-product-swiper .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    margin: 0 10px !important;
    background: #fff;
    opacity: .25;
}
.sfr-product-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
    opacity: .75;
}


.sfr-product-swiper .swiper-button-prev,
.sfr-product-swiper .swiper-button-next{
    width:50px;
    height: 50px;
    background: transparent;
}

.sfr-product-swiper .swiper-button-prev::before,
.sfr-product-swiper .swiper-button-next::before{
    font-family: FontAwesome;
    font-size: 30px;
    color: #b7b8bc;
}
.sfr-product-swiper .swiper-button-prev::before{
    content: "\f137";
}
.sfr-product-swiper .swiper-button-next::before{
    content: "\f138";
}

.elementor-editor-active .sfr-product-wrapper{display: flex;  flex-direction: row; flex-wrap: nowrap; overflow: hidden;}
.elementor-editor-active .sfr-product-item{flex-basis: 25%; margin-right: 20px; margin-left: 0px;}

.sfr-product-swiper .swiper-pagination{
	margin:auto;
	bottom:-8px;
	left:0;
	right:0
}