.skin-light *{
    color:#fff;
}

.skin-dark *{
    color:#000;
}

.testimonial-slider-quote{text-align: center; }

.testimonial-slider-quote p {
    font-size: 18px;
    line-height: 25px;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.testimonial-slider-info{
    font-size: 18px;
}

.testimonial-swiper .swiper-button-prev,
.testimonial-swiper .swiper-button-next{
    width:25px;
    height: 25px;
    background: transparent;
}

.testimonial-swiper .swiper-button-prev::before,
.testimonial-swiper .swiper-button-next::before{
    font-family: FontAwesome;
    font-size: 20px;
    color: #b7b8bc;
}
.testimonial-swiper .swiper-button-prev::before{
    content: "\f137";
}
.testimonial-swiper .swiper-button-next::before{
    content: "\f138";
}
.testimonial-swiper .swiper-button-prev::after,
.testimonial-swiper .swiper-button-next::after{
	content:''
}